.modal-content {
    width: 100%;
}

.modal-header {
    padding: 10px 40px;
}

.modal-title {
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 700;
    font-size: 40px;
    color: #41B07B;
}

.modal-body {
    position: relative;
    flex: 1 1 auto;
    background: #65DBA3;
    padding: 30px 40px;
}

.modal-body > h2 {
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 0.15em;
    color: #F2FFF3;
    margin-bottom: 20px;
}

.modal-footer {
    align-items: center;
    justify-content: center;
    gap: 14px;
}

.btn-modal {
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    color: #41B07B;
    background: #DEF1E0;
    border: none;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 30px;
}