.sideleft-container {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    background: #41B07B;
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    align-items: center;
    min-height: 100vh;
}

.sideleft-container h2 {
    color: #FFF;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.15em;
}

.profile__item > img {
    border-radius: 50%;
}

.profile__name {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.1em;
    color: #FFF;
}

.game-btn-edit,
.game-btn-logout {
    font-family: 'Inter', sans-serif;
    letter-spacing: 0.15em;
    font-weight: 700;
    font-size: 18px;
    color: #41B07B;
    text-decoration: none;
    text-transform: uppercase;
    width: 185px;
    background: #F2FFF3;
    border-radius: 8px;
}

.game-btn-logout {
    background: #DE5C5C;
    color: #FFF;
}

.game-btn-edit:hover,
.game-btn-edit:active {
    color: #FFF !important;
    background-color: #1a8956;
}

.game-btn-logout:hover,
.game-btn-logout:active {
    background: #9e2d2d !important;
    color: #FFF !important;
}


.sideright-container {
    background: #65DBA3;
    font-family: 'Inter', sans-serif;
    padding: 60px;
}

.p-title-score,
.p-total-score {
    color: #FFF;
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

.p-total-score {
    font-size: 105px;
    margin-top: -20px;
}

.p-container-history {
    background-color: #F2FFF3;
    border-radius: 8px;
    padding: 30px 50px;
    min-height: 400px;
}

.p-title-history {
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 0.15em;
    color: #41B07B;
    text-align: center;
}

.p-history-item {
    background: #DEF1E0;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    margin: 15px auto;
}

.p-history-item p {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.1em;
    color: #65DBA3;
    margin: 0;
    max-width: 600px;
}

.p-history-item p span {
    color: #FF6E41;
}

.game-btn-back {
    position: absolute;
    color: #D9D9D9;
    font-size: 30px;
    left: 50px;
    top: 30px;
    width: 100px;
}

.game-btn-back:hover {
    color:#1a8956;
}