body {
  background-color: #f2fff3;
}

.bg-light {
  background-color: #65dba3 !important;
}

.navbar-brand {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 35px;
  line-height: 52px;
  color: #f2fff3;
}

.navbar a:hover {
  color: #41b07b;
}

.navbar-nav > a {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.15em;
  color: #ffffff;
}

.navbar-nav > button {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.15em;
}

.navbar-nav .dropdown {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 25px;
  text-transform: uppercase;
  background: #d9d9d9;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
}

.navbar-nav .dropdown > a {
  color: #fff;
}

.navbar-nav .dropdown .dropdown-item:active {
  background-color: #fff !important;
}

.navbar-nav .nav-link {
  text-transform: uppercase;
}

.game-btn-primary {
  color: #fff;
  text-decoration: none;
  background-color: #41b07b;
  text-transform: uppercase;
}

.game-btn-primary:hover,
.game-btn-primary:active,
.game-btn-second:hover,
.game-btn-second:active {
  color: #fff !important;
  background-color: #1a8956;
}

.game-btn-second {
  color: #fff;
  text-decoration: none;
  background-color: #65dba3;
  border: 1px solid #41b07b;
}

.container-tabel {
  width: 100%;
  margin: 20px auto;
  background-color: #def1e0;
  height: auto;
  padding-bottom: 20px;
}

.container-tabel h1 {
  background-color: #41b07b;
  padding: 10px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 25px;
}

.container-tabel th {
  color: #41b07b;
  font-size: 18px;
  letter-spacing: 0.15em;
  font-weight: 700;
}

.tabel {
  width: 100%;
  margin: auto;
}

@media only screen and (max-width: 1024px) {
  .container-tabel {
    /* width: 100%; */
  }
}
